/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --reader-height: 3rem;
  /*===== COLORS =====*/
  --first-color: #;
  --first-color-alt: #;
  --title-color: #;
  --text-color: #;
  --text-color-light: #;
  --body-color: #;
  --container-color: #;
  /*===== FONT AND TYPOGRAPHY =====*/
  --body-font: ;
  --biggest-font-size: ;
  --h1-font-size: ;
  --h2-font-size: ;
}
